#landing-page-flex-container {
  display: flex;
  justify-content: center;
  padding: 0 30px;
  height: 100vh;
  z-index: 1;
}

#landing-page-flex-item-text {
  height: auto;
  top: 15vh;
  position: absolute;
}

#landing-page-flex-item-button {
  height: auto;
  bottom: 22vh;
  position: absolute;
}

#landing-page-flex-item-previous-destinations {
  height: auto;
  bottom: 14vh;
  position: absolute;
  font-size: 15px;
  font-family: arial,sans-serif;
}

#landing-page-flex-item-previous-destinations a {
  color: #193ED8;
  text-decoration: none;
}

#landing-page-flex-item-previous-destinations a:hover {
  text-decoration: underline;
}

#pre-text {
  margin: 0;
  font-size: 40px;
  font-family: transat,sans-serif;
  font-weight: 400;
  font-style: italic;
}

#location {
  margin-top:60px;
  font-family: source-serif-pro,serif;
  font-weight: 600;
  font-style: normal;
  font-size: 150px;
}

#start-button {
  background-color: #193ED8;
  width: 170px;
  height: 58px;
  font-size: 22px;
  border-radius: 16px;
}
